<div class='review section shadow-1'>
	<div class="section-content review-content">
		<div class='subject-group'>
				<div class='subject-picture' style="background-image: linear-gradient(rgb(0, 0, 0, 0.1),rgb(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url({{ review.subject.art}});">
					<p>{{ review.subject.name}}</p>
					<p>{{ review.subject.artist_name}}</p>
				</div>
		</div>

		<div class="review-right">
			<div class="top-group">
				<a href='/user/{{ review.user.username }}'>
					<div class='Name'>{{ review.user.name }}</div>
					<img class='userPicture' src='{{ review.user.picture }}' style="">
					<div class='light-text userName'>{{ review.user.username }}</div>
				</a>
				<div class="static-rating">
            {% for i in range(5) %}
							<script>console.log("Number of stars " + {{ review.stars }} + ", i=" + {{ i }});</script>
              {% if i < review.stars %}
								<label style="color:#cd3538"></label>
              {% else %}
							<label style="color:#ddd"></label>
              {% endif %}
            {% endfor %}
        </div>
			</div>
			<div class="text-group">
				<div class="review-text light-text">{{ review.text }}</div>
				<div class="date">{{ review.date }}</div>
			</div>
			<div class="interact">
			{% if review.user_id != session["user_id"] %}
				<form action="/like" method="post">
					<input type="hidden" name="review_id" value="{{review.id}}"></input>
					<input class="like-button" type="submit" value=""></input>
				</form>
				<form action="/dislike" method="post">
					<input type="hidden" name="review_id" value="{{review.id}}"></input>
					<input class="dislike-button" type="submit" value=""></input>
				</form>
			{% else %}
				<form action="/delete" method="post">
					<input type="hidden" name="review_id" value="{{review.id}}"></input>
					<input class="delete-button" type="submit" value=""></input>
				</form>
			{% endif %}
			<form action="/share" method="post">
				<input type="hidden" name="review_id" value="{{review.id}}"></input>
				<input class="share-button" type="submit" value=""></input>
			</form>
			</div>
		</div>
		<div>
		{% for comment in review.comments %}
		{% include 'includes/_comment.html' %}
		{% endfor %}
		</div>
		<form class="comment-form inline-form" id="" action="/comment" method="post">
			<input name="review_id" hidden value="{{ review.id }}">
			<div class="text-group form-group">
				<input id="subject-input" class="light-text text-input" name="text" placeholder="Type your comment..." type="text"/>
				<span class="highlight"></span>
				<span class="bar"></span>
				<div id="subject-results"></div>
			</div>
			<input class="submit button" type="submit"/>
		</form>
	</div>
</div>
