<div class='review section shadow-1'>
	<div class="section-content review-content">
		<div class='subject-group'>
			<div class="subjectPictureDiv">
				<img class='subjectPicture' src='{{ review["subject_image"]}}'>
			</div>
			<div class='subjectName'>{{ review["subject_name"]}}</div>
			<div class='subjectName'>{{ review["subject_artist_name"]}}</div>
		</div>

		<div class="review-right">
			<div class="top-group">
				<a href='/user/{{ review["user_username"] }}'>
					<div class='Name'>{{ review["user_name"] }}</div>
					<img class='userPicture' src='{{ review["user_picture"] }}'>
					<div class='userName'>{{ review["user_username"] }}</div>
				</a>
				<div class='rating'>{{ review["review_score"] }}</div>
			</div>
			<div class="text-group">
				<div class='text'>{{ review["review_text"] }}</div>
				<div class='date'>{{ review["review_date"] }}</div>
			</div>
		</div>
	</div>
	<button>upvote</button>
	<button>downvote</button>
	<div>
		{% for comment in review["comments"] %}
			{% include 'templates/_comment.html' %}
		{% endfor %}
	</div>
	<form class="inline-form" id="" action="/comment" method="post">
		<input name="review_id" hidden value="{{ review["id"] }}">
		<input name="text" type="text" placeholder="leave a comment">
		<input type="submit" value="comment">
	</form>
</div>
