{% extends "base.html" %}
{% block content %}
<div class="section shadow-1">
	<div class="section-content">
		<h2 class="capital">Write a review</h2>
		<form id="newReview">
			<div class="form-group text-group">
				<input class="text-input" name="subjectName" placeholder="Type what song/album you're reviewing..." type="text" required>
				<span class="highlight"></span>
				<span class="bar"></span>
			</div>
			<div class="rating form-group">
		    <input type="radio" id="star5" name="rating" value="5" /><label for="star5">5 stars</label>
		    <input type="radio" id="star4" name="rating" value="4" /><label for="star4">4 stars</label>
		    <input type="radio" id="star3" name="rating" value="3" /><label for="star3">3 stars</label>
		    <input type="radio" id="star2" name="rating" value="2" /><label for="star2">2 stars</label>
		    <input type="radio" id="star1" name="rating" value="1" /><label for="star1">1 star</label>
			</div>
			<div class="form-group text-group">
				<input class="text-input" name="text" placeholder="Expand on your review with up to 200 characters..." type="text" data-length="200">
				<span class="highlight"></span>
				<span class="bar"></span>
			</div>
			<input class="form-group" type="submit">
		</form>
	</div>
</div>
<div class="feed">
	<div id="reviews">
		<!-- use script.js to add to this -->
	</div>
	<button onclick="requestNewReviews(32);">Load More...</button>
</div>
{% endblock content %}
