{% extends 'layout.html' %}

{% block body %}

{% if session.logged_in %}
<script type="text/javascript" src="/static/feed.js"></script>
<div class="section shadow-1">
	{% include 'includes/_newreviewform.html' %}
</div>
<div class="feed" id="feed">
	{% for review in reviews %}
		{% include 'includes/_review.html' %}
	{% endfor %}
</div>
{% else %}
<div class="section shadow-1">
	<div class="section-content">
		<h2 class="capital">Please register or log in to access SongScore</h2>
	</div>
</div>
{% endif %}

{% endblock %}
