<html>
	<head>
		<!-- Favicons and Icons -->
		<link rel="shortcut icon" type="image/png" href="static/images/icons/favicon.png">
		<link rel="icon" sizes="192x192" href="static/images/icons/favicon.png">
		<link rel="apple-touch-icon" href="static/images/icons/favicon.png">

		<meta charset="utf-8">
		<title>SongScore Register</title>
		<link rel="stylesheet" type="text/css" href="/static/stylesheet.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300'>
		<meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">

		<script type="text/javascript" src="static/jquery-3.2.1.min.js"></script>
	</head>

<body class="red-bg">
  		{% include 'includes/_messages.html'%}
<div class="register-content-outer">
  <div class="register-content-inner">
    <div class="register-left white-text">
      <div class="center-vert">
      <div class="img-container"><img src="static/images/logo-big.png"></div>
      <h1 class="white-text">Welcome to the SongScore Beta</h1>
      <ul>
        <li>Leave quick scores and comments for all your favourite songs</li>
        <li>Follow your friends to see what they love, and what they don't</li>
        <li>Discover new music, and engage with the community</li>
      </ul>
    </div>
    </div>
    <div class="register-right white-bg shadow-1">
      <div class="section-content" style="width: auto">
      <div class="form-group text-group">
        <input id="expansion-input" class="text-input" name="text" placeholder="Display name" type="text" data-length="200">
        <span class="highlight"></span>
        <span class="bar"></span>
      </div>
      <div class="form-group text-group">
        <input id="expansion-input" class="text-input" name="text" placeholder="Username" type="text" data-length="200">
        <span class="highlight"></span>
        <span class="bar"></span>
      </div>
      <div class="form-group text-group">
        <input id="expansion-input" class="text-input" name="text" placeholder="Email" type="text" data-length="200">
        <span class="highlight"></span>
        <span class="bar"></span>
      </div>
      <div class="form-group text-group">
        <input id="expansion-input" class="text-input" name="text" placeholder="Password" type="text" data-length="200">
        <span class="highlight"></span>
        <span class="bar"></span>
      </div>
      <div class="form-group text-group">
        <input id="expansion-input" class="text-input" name="text" placeholder="Confirm password" type="text" data-length="200">
        <span class="highlight"></span>
        <span class="bar"></span>
      </div>
      <div class="form-group text-group">
        <input class="submit" value="I'm in!" type="submit">
      </div>

    </div>
  </div>
</div>
<body>
